@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&family=PT+Serif:wght@400;700&display=swap");

$mainOrange: #ff9236;
$grayish: #9b9c9e;

// Fonts
$serifFont: "PT Serif", serif;
$sansFont: "Nunito Sans", sans-serif;

// Media queries mixins

@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $sansFont;
  font-size: 12px;
  @include for-tablet-landscape-up {
    font-size: 15px;
  }
  @include for-desktop-up {
    font-size: 18px;
  }
}

// Styling of layout.js

.container {
  padding: 0 10px;

  @include for-tablet-portrait-up {
    padding: 0 20px;
  }

  @include for-desktop-up {
    width: 1200px;
    margin: 0 auto;
    padding: 0 25px;
  }
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  padding-bottom: 1rem;
  &::after {
    content: "";
    display: block;
    height: 0.3rem;
    position: absolute;
    background-color: $mainOrange;
    width: 100%;
    left: 0;
    padding-left: -1rem;
    bottom: 0;
    z-index: 2;
  }

  @include for-desktop-up {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr 1fr;
    position: relative;
    &::after {
      height: 1rem;
    }
  }

  .header__halfCircle {
    display: none;

    @include for-desktop-up {
      $size: 175px;
      background-color: $mainOrange;
      display: inline-block;
      height: $size * 1;
      width: $size * 2;
      margin: 0 auto;
      border-bottom-left-radius: $size * 2;
      border-bottom-right-radius: $size * 2;
      grid-row: 1/2;
      grid-column: 1/3;
      margin: -3rem 0 0 3rem;
    }
  }

  .header__links {
    background-color: #fff;
    align-self: end;
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.7rem;
    grid-column: 1/3;
    grid-row: 3/4;

    @include for-desktop-up {
      grid-column: 7/9;
      grid-row: 1/2;
    }
  }

  .header__hamburger {
    grid-column: 2/3;
    margin-left: 5rem;
    align-self: center;
    color: #fff;
    font-size: 2.5rem;
    width: 4rem;
    height: 4rem;
    background-color: $mainOrange;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include for-desktop-up {
      grid-row: 2/3;
      grid-column: 2/3;
      font-size: 3.5rem;
      width: 6rem;
      height: 6rem;
      align-self: center;
      margin: 0;
    }
  }
}
//Logo
.header__logo {
  margin-top: 20px;
  font-family: $serifFont;
  font-style: normal;
  display: flex;
  align-items: center;
  grid-column: 1/2;
  grid-row: 1/2;

  .logo__firstLetter {
    font-size: 6rem;
    color: #9b9c9e;
    font-style: normal;
    display: flex;
    align-items: center;
    &::after {
      content: "";
      flex: 1;
      margin: 0 1rem 0 1rem;
      height: 100px;
      background-color: $mainOrange;
      width: 1px;
    }
  }
  .logo h1 {
    margin-left: 1rem;
    color: $mainOrange;
  }
}
@include for-desktop-up {
  .header__logo {
    grid-column: 4/6;
  }
}
.header__logo--white {
  flex-grow: 0;
  color: white;
  font-size: 0.3rem;

  font-weight: 400;
  margin: 0 auto;
  @include for-desktop-up {
    font-size: 0.7rem;
  }
  .logo__firstLetter--white {
    color: white;
    font-size: 2rem;
    @include for-desktop-up {
      font-size: 4rem;
    }

    &::after {
      background-color: white;
      height: 25px;

      margin: 0.5rem;
      @include for-desktop-up {
        height: 50px;
      }
    }
  }
}

// Navbar component
.navbar {
  grid-row: 2/3;
  grid-column: 1/3;
  margin: 1rem 0;

  @include for-desktop-up {
    grid-row: 2/3;
    grid-column: 3/9;
  }
  .navbar__ul {
    margin: 0;
    padding-left: 0;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    justify-content: center;
    align-items: center;
    @include for-desktop-up {
      justify-content: space-between;

      margin-left: 2rem;
      flex-flow: row nowrap;
    }
  }
  .navbar__li {
    flex-basis: 33%;
    text-align: center;
    margin: 1rem;

    @include for-desktop-up {
      flex-basis: auto;
      text-align: left;
      margin: 0;
    }
  }

  .navbar__a {
    color: #000;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;

    @include for-desktop-up {
      font-size: 1.5rem;
      font-weight: 500;
      color: $grayish;
    }
  }
  .navbar__a--footer {
    color: #fff;
  }
}
.navbar--footer {
  flex-grow: 1;
  .navbar__ul--footer {
    color: #fff;
    justify-content: flex-end;
    @include for-desktop-up {
      justify-content: flex-start;
    }
    .navbar__li--footer {
      margin: 0 1rem;
    }
  }
}

// Resources component

.resources {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: baseline;
  padding: 1rem;
  .resources__card {
    flex-grow: 1;
    text-decoration: none;
    margin: 0.5rem;
    &:nth-child(5) {
      flex-grow: 2;
    }

    .card__image {
      width: 100%;
      height: 230px;
      background-size: cover;
    }
    .card__heading {
      text-align: center;
      color: #fff;
      background-color: #9b9c9e;
      margin: -7px 0 0 0;
      font-size: 0.6rem;
      height: calc(1.5rem-7px);
      line-height: 1.5rem;
      font-weight: 400;

      @include for-desktop-up {
        font-size: 1rem;
      }
    }
  }
}
// Youtube section

.movieSection {
  background-color: $mainOrange;
  height: 15rem;
  display: flex;
  padding: 1rem;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;

  @include for-desktop-up {
    height: 20rem;
    padding: 3rem;

    flex-direction: row;
  }

  .movieSection__window {
    background-color: black;
    width: 300px;
    margin-bottom: 1rem;
    height: 200px;
    @include for-desktop-up {
      width: 45%;
      height: 100%;
    }
  }
}

// Quotation section
.quotationContainer {
  padding: 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .quotation__header {
    font-size: 2rem;
    color: #fff;
    font-family: $serifFont;
    background-color: $mainOrange;
    text-align: center;
    padding: 2rem 1rem;
    flex-grow: 1;
    width: 100%;
    margin-right: 2rem;
    font-weight: 400;
  }
  .quotation__content {
    font-size: 0.6rem;
    flex-grow: 2.5;
    line-height: 1.5;
    font-style: italic;
    text-align: justify;
    @include for-desktop-up {
      font-size: 1rem;
      text-align: left;
    }
    &::first-letter {
      margin-left: 1rem;
      @include for-desktop-up {
        margin-left: 2.1rem;
      }
    }
    .content__quote {
      font-size: 2rem;
    }
  }
}

// Footer

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $grayish;
  padding: 1rem;
  @include for-desktop-up {
    padding: 2rem;
  }
}
.footer__decoration {
  display: none;
  @include for-desktop-up {
    display: block;
    $size: 90px;
    background-color: #fff;
    margin: 0 4rem -4rem 0;
    display: inline-block;
    width: $size * 2;
    height: $size;
    border-top-left-radius: $size * 2;
    border-top-right-radius: $size * 2;
  }
}
